html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-encode;
    font-weight: 400;
    color: $color-gray-4d;
}