html {
    font-size: 62.5%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: $font-encode;
    font-weight: 400;
    color: $color-gray-4d;
}

.layout-grid {
    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: [page-s header-s] 13.6rem [header-e bar-s] auto [bar-e content-s] 1fr [content-e page-e];
    grid-template-columns: [page-s] 14rem [content-s] 1fr [content-e] 14rem [page-e];
}

.bar {
    height: 4rem;
    background-color: $color-gray-d8;
    grid-row: bar-s/bar-e;
    grid-column: page-s/page-e;
}