.button {
    border-radius: 1.6rem;
    border: 0.1rem solid $color-gray-4d;
    width: 7.4rem;
    height: 2.4rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}