
// INPUT

.form-input,
.form-textarea {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 10fr;
    // grid-template-columns: 12.9rem 50rem;

    align-items: center;
    width: 100%;
    justify-content: center;

    &__title {
        grid-row: 1/-1;
        grid-column: 1/2;
    }

    &__input {
        grid-row: 1/-1;
        grid-column: 2/3;
    }
}

.form-input,
.form-textarea {
    &__title {
        color: $color-red-ba;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.3rem;
    }

    &__input {
        height: 4rem;
        // width: 50rem;
        border: 1px solid $color-gray-e6;
        border-radius: .5rem;
        padding-left: 2rem;
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.form-textarea {
    
    &__title {
        align-self: start;
    }

    &__input {
        height: 35.5rem;
        resize: none;
        padding-top: 1rem;
        font-family: $font-encode;
    }
}

// BUTTON

.form-button,
.form-button-small {
    &__button {
        transition: all .2s ease;

        &:focus {
            outline: none;
        }

        &:active {            
            transform: scale(0.95) translateY(0.205rem);
        }
    }
}

.form-button {
    
    &__button {
        height: 4rem;
        width: 21.6rem;
        border-radius: 2rem;
        border: none;
        background-color: $color-red-ba;

        color: white;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 2.8rem;
        text-align: center;
    }
}

.form-button-small {

    &__button {
        border-radius: 1.6rem;
        border: 0.1rem solid $color-gray-4d;
        width: 13rem;
        height: 2.4rem;
        
        font-size: 1.4rem;
        line-height: 1.7rem;
        text-align: center;        
    }

    &__danger {
        border: 0.1rem solid $color-red-ba;
        color: white;
        background-color: $color-red-ba;
    }
}