.header {
    grid-row: header-s/header-e;
    grid-column: content-s/content-e;

    display: grid;
    grid-template-columns: [s] 1fr [e];
    grid-template-rows: [title-s] 3rem [title-e sub-s] 2rem [sub-e];

    &__title {
        grid-row: title-s/title-e;
        grid-column: s/e;
    }

    &__subtitle {
        grid-row: sub-s/sub-e;
        grid-column: s/e;
    }
}




.header {
    padding-top: 4rem;

    &__title {
        font-size: 2.4rem;
        font-weight: 500;
        line-height: 3rem;
    }

    &__subtitle {
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 2rem;
        color: $color-red-ba;
    }
}