.new-newsletter-form {
    display: grid;
    grid-template-columns: [s input-s] 102rem [input-e] 1fr [e];

    &__title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }

    &__newsletter-title,
    &__body {
        margin-top: 4.1rem;
        grid-column: input-s/input-e;
    }

    &__body {
        margin-top: 2rem;
    }
}