.newsletter-archive {
    grid-row: archive-s/archive-e;
    grid-column: archive-s/archive-e;
    margin-top: 3.85rem;

    display: grid;
    grid-template-rows: [title-s] 2.7rem [title-e items-s] 1fr [items-e];

    &__title {
        color: $color-red-ba;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.3rem;

        border-bottom: 0.1rem solid $color-gray-e6;
        padding-bottom: 0.4rem;
    }
}

.archive-items {
    margin-top: 1.6rem;
    display: grid;
    grid-row-gap: 1.6rem;
    grid-template-rows: repeat(auto-fit, 1fr);
    align-content: start;
}

.archive-item {

    display: grid;
    grid-row-gap: 0.3rem;

    &__title {
        font-size: 1.4rem;
        line-height: 1.7rem;
        transition: all .2 ease;

        &:hover {
            font-size: 1.6rem;
            font-weight: bold;
        }
    }

    &__date {
        color: $color-red-ba;
        font-family: $font-encode-cond;
        font-size: 1.3rem;
        line-height: 1.6rem;
    }
}