.sign-in {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-in-form {
    display: grid;
    grid-template-columns: [s] 1fr [input-s] 62.9rem [input-e] 1fr [e];
    justify-items: center;

    &__title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }

    &__email {
        margin-top: 7.7rem;        
    }

    &__password {
        margin-top: 4rem;
    }

    &__login {
        margin-top: 8.8rem;
    }

    &__text-links {
        margin-top: 5.2rem;
    }

    &__email,
    &__password {
        transform: translateX(-6.45rem);
    }

    &__email,
    &__password,
    &__login,
    &__text-links {
        grid-column: input-s/input-e;
    }
}