.sign-up {
    grid-row: content-s/content-e;
    grid-column: content-s/content-e;
}

.sign-up-form {
    display: grid;
    grid-template-columns: [s] 1fr [input-s] 62.9rem [input-e] 1fr [e];
    justify-items: center;

    &__title {
        width: 100%;
        margin-top: 6.6rem;
        grid-column: s/e;
    }

    &__fullname {
        margin-top: 7.7rem;
    }

    &__unit,
    &__email,
    &__password {
        margin-top: 4rem;
    }

    &__create-account {
        margin-top: 8.8rem;
    }

    &__text-links {
        margin-top: 5.2rem;
    }

    &__fullname,
    &__unit,
    &__email,
    &__password,
    &__create-account,
    &__text-links {
        grid-column: input-s/input-e;
    }
}