.tab-nav {
    display: grid;
    grid-template-rows: [tabs-s] 5rem [tabs-e content-s] 1fr [content-e];

    &__tabs {
        grid-row: tab-s/tab-e;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(auto-fill, 1fr);
        grid-auto-flow: column;
        justify-items: center;
        align-items: center;

        justify-content: center;

        grid-column-gap: 4.6rem;
        border-bottom: 1px solid $color-gray-e6;
    }

    &__tab {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 2rem;
        text-align: center;
        width: 9rem;       
        // padding-bottom: 2rem;
        // border-bottom: 1px solid $color-red-ba; 
    }
}